body {
    padding-top:0px;
    background-color: #495061;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* Carousel */
.carousel {
    height:500px;
    width:100%;
    overflow:hidden;
}

.carousel-inner .item {
    vertical-align: middle;
}
.carousel-inner .item img {
    display: block;
    width: 100%;
    margin: auto !important; 
}

.slide1 {
    width:100%;
    height:500px;
    display: block;
    position:relative;
}

.slide1::after {
    content: "";
    background-image: url(../img/header_1.jpg);
    background-size: cover;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    opacity: 0.25;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position: absolute;
    z-index: -1;
}

.carousel-caption {
    position: absolute;
    left:40%;
    top:50%;
    margin: auto;
    padding: 0px;
}

.home {
    width:100%;
    height:500px;
    display: block;
    position:relative;

}

.home::after {
    content: "";
    background-image: url(../img/header_1.jpg);
    background-size: cover;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    opacity: 0.75;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position: absolute;
    z-index: -1;
}

.centerContent{
    position:absolute;
    width: auto;
    height: auto;
    
    top:150px;
    left:10%;
    right:10%;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.top-caption {
    position: relative;
    font-family: 'Oswald';
    font-size: 2.2vw;
    font-weight: 800;
    margin-left: auto;
    margin-right:auto;
    
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.main-caption {
    position: relative;
    display: inline-block;
    font-family: 'Oswald';
    font-size:5vw;
    font-weight: 800;
    text-shadow: 2px 2px 2px #000;
    border: 4px solid #fff;

    background-color: rgba(0,150,250, 1);
    
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

@media only screen and (max-width: 480px) {
    .carousel-caption {
        position: absolute;
        left:20%;
        top:30%;
        margin: auto;
        padding: 0px;
    }
   .main-caption { font-size: 26px; left:-5%; }
    .top-caption { font-size: 14px; left:-5%; }
}



.navbar-inverse {
    background-color: #000;
    border: 0;
}

.nav-menu ul li a {
    font-family: Helvetica,Arial,sans-serif;
    line-height: 2;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid transparent;
    display: block;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 4px;
}

.nav-menu ul li a:hover {
    line-height: 2;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #fff;
    display: block;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 4px;
    box-sizing: content-box;
}

.nav-menu ul li a.active {
    border-radius: 4px;
    border: 2px solid #fff;
    display: block;
    background-color: transparent;
    -webkit-border-radius: 4px;
    box-sizing: content-box;
}

.nav .hireMe a{
    border-radius: 4px;
    border: 2px solid transparent;
    display: block;
    background-color: #ff6600;
    -webkit-border-radius: 4px;
    box-sizing: content-box;
}
.hireMe a{
    border-radius: 4px;
    border: 2px solid transparent;
    display: block;
    background-color: #ff6600;
    -webkit-border-radius: 4px;
    box-sizing: content-box;
}
.nav-menu ul li {
    float: left;
    margin: 0px 2px !important;
    list-style: none;
    position: relative;
}

.about {
    background: #fff;
    border: 0px solid;
    color: #000;
    padding-bottom:50px;
}

.about-info {
    width: 100%;
    max-width:250px;
    margin: 0;
    padding: 0;
    font-family: "open sans";
    font-size: 12px;
    letter-spacing: 0.0em !important;
    font-weight: normal;
}

.info-glyph {
     font-size:9px;
     padding:5px;
}

.info-picture-caption {
    width:100%;
    max-width: 280px;
    font-family: 'Oswald';
    font-size: 36px !important;
    color: #fff;
    background-color: rgba(59,63,80,0.8);
    padding: 15px 15px 8px 15px;
}

.info-text-quote {
    font-family:'Oswald';
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 20px 0;
    color:#666;
    letter-spacing: .05em;
    line-height: 1.5em;
}

.info-picture-box {
    width:25%;
}

.award-box {
    border:1px solid #666;
    text-align:center;
    width:120px;
    height:130px;
    margin:0 2px 2px 0;
    float:left;
}

@media only screen and (max-width: 768px) {
    .info-picture-box {
        width: auto;
    }

    .info-picture-caption {
        max-width: 280px;
        margin: 0px auto 0px auto;
    }
    
    .info-text-quote {
        margin: 40px 0 20px 0;
    }
    
    .about-info {
        max-width: 300px;

        margin: 40px auto 10px auto;
    }
}

.resume {
    background: #fff;
    border: 0px solid;
    color: #000;
    padding-bottom:50px;
}

.contact {
    border: 0px solid;
    color: #000;
    padding-bottom:50px;
}

.section-title h1 {
    font-size: 46px !important;
    letter-spacing: 2px !important;
    margin: 50px auto 50px;
    color: #666;
    font-weight: 700;
    display: inline-block;
    font-family: Oswald !important;
    line-height: 1.5 !important;
    position:relative;
    
    padding: 10px;
    /*border-bottom: 5px solid #ff6600;*/
}

.section-title h1 span {
    background-color: rgba(59, 63, 80, 0.6);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #fff;
    padding: 0px 10px;
}

.portfolio {
  padding-bottom:50px;
  margin: 0 auto;
}


.portfolio-filter {
	margin: 30px 0px;
        text-align: center;
        list-style-type: none;
}
.portfolio-filter-list {
	padding: 0;
	margin: 0;
	/*overflow: hidden;*/
	margin: 30px 0px;
        text-align: center;
        list-style-type: none;
}
.portfolio-filter-list ul li {
	text-transform: uppercase;
	margin: 0px;
	display: inline;
}

.portfolio-filter-list li:after {
	content: "/";
	position: relative;
}
.portfolio-filter-list li:last-child:after {
	content: "";
}
.portfolio-filter-list a {
	color: #000000;
	font-size: 11px;
	padding: 5px 10px;
	position: relative;
	letter-spacing: 0.1em;
	font-weight: 300;
	text-decoration: none !important;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

li a {
    text-decoration: none;
}

.white a {
	color: #ffffff;
}
.portfolio-filter-list a:hover {
	background-color: #ffffff;
	color: #000000;
	opacity: 1;
}
.portfolio-filter-list a.active {
	background-color: #FFFFFF;
	color: #000000;
}
.portfolio-filter {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.item {
    margin: 2px;
    overflow: hidden;
}

.item .frame {
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

.item .frame:hover {
    -webkit-transform: rotate(10deg) scale(1.5);
    -moz-transform: rotate(10deg) scale(1.5);
    -o-transform: rotate(10deg) scale(1.5);
    transform: rotate(10deg) scale(1.5);
}

.frame .overlay {
    position:absolute;

    width:100%;
    height:100%;
    background:#efefef;
    color:#000;
    top:0;
    left:0;
    opacity:0;
    text-align:center;
    padding:50px 10px;
    transition: 0.5s ease-out;
    transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    -webkit-transform: scale(0.1);
}

.frame:hover .overlay {
    opacity: .65;
    transform: rotate(-10deg) scale(0.67);
}

.item-info h3 {
    font-family: 'Oswald';
    font-size: 24px !important;
    text-transform: uppercase;
}

.item.w2 { }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
}

.basic-waypoint {
    opacity: 0;
}

/* Contact Form */
#contact_form_holder {
    /*font-family: 'Verdana';*/
    color: #fff;
    width:400px;
    padding:0px;
    margin:0px;
}

#cf_submit_p {
    text-align:right;
}

.error {
    display:none;
    padding:5px;
    color:#D8000C;
    font-size:12px;
    background-color:#FFBABA;
    border:solid 1px #e06d6d;
}

.success {
    display:none;
    padding:5px;
    color:#044406;
    font-size:12px;
    background-color:#B7FBB9;
    border:solid 1px #65d668;
}

#contact_logo {
    vertical-align:middle;
}

.error img {
    vertical-align:top;
}

.contact_name, .contact_email, .contact_subject, .contact_message {
    font-size:14px;
    width:388px;
    max-width:388px;
    background:rgba(239,239,239, 0.6);
    border:solid 1px #aaa;
    border-radius: 5px;
    padding:5px;
    margin:5px 0px;
}

#topic {
    width:100%;
    font-size:12px;
    background:none;
    border:solid 1px #505050;
    padding:5px;
    margin:5px 0px;
}

.contact_message {
    height:200px;
}

select, input, textarea {
    outline:none;
    background:none;
    border:solid 1px #505050;
}

select:focus, input:focus, textarea:focus {
    border:solid 1px #ff6600;
    -webkit-box-shadow:#ff6600 0px 0px 5px;
}


/* navbar */
.navbar-default {
    background-color: rgba(3, 3, 3, .6);
    border-color: #3f3f3f;
}
/* title */
.navbar-default .navbar-brand {
    background-color: transparent;
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
    background-color: rgba(3, 3, 3, .6);
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: transparent;
}

.nav > li > a:focus {
    background: transparent;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: rgba(3, 3, 3, 0);
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: rgba(3, 3, 3, 0);
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    background-color: rgba(3, 3, 3, .0);
    border: 0px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(3, 3, 3, .6);
}
.navbar-default .navbar-toggle .icon-bar {

    background-color: rgba(255, 255, 255, 1);
}
.navbar-toggle .icon-bar {
display: block;
width: 22px;
height: 3px;
border-radius: 1px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}