body {
    padding-top:50px;
    background-color: #495061;
    /*font-family: Opensans !important;*/
}

.navbar-inverse {
    background-color: #000;
    border: 0;
}

.nav-menu ul li a {
    font-family: Helvetica,Arial,sans-serif;
    line-height: 2;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    display: block;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 4px;
}

.nav-menu ul li a:hover {
    line-height: 2;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #fff;
    display: block;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 4px;
    box-sizing: content-box;
}

.nav-menu ul li .active {
    border-radius: 4px;
    border: 1px solid #fff;
    display: block;
    background-color: #fff;
    -webkit-border-radius: 4px;
    box-sizing: content-box;
}

.nav-menu ul li {
    float: left;
    margin: 0px 2px !important;
    list-style: none;
    position: relative;
}

.about {
    background: #fff;
    border: 0px solid;
    color: #000;
    padding-bottom:50px;
}

.about-info {
    /*font-family: "Open sans";*/
    font-size: 10px;
    letter-spacing: 0.1em !important;
    font-weight: 300;
}

.resume {
    background: #fff;
    border: 0px solid;
    color: #000;
    padding-bottom:50px;
}

.contact {
    border: 0px solid;
    color: #000;
    padding-bottom:50px;
}

.section-title h1 {
    font-size: 46px !important;
    letter-spacing: 2px !important;
    margin: 50px auto 50px;
    color: #666;
    font-weight: 700;
    display: inline-block;
    font-family: Oswald !important;
    line-height: 1.5 !important;
    position:relative;
    
    padding: 10px;
    /*border-bottom: 5px solid #ff6600;*/
}

.section-title h1 span {
    background-color: rgba(59, 63, 80, 0.6);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #fff;
    padding: 0px 10px;
}

.portfolio {
    height: auto;
    width: 100%;
    overflow: hidden;
    position:relative;
    
    margin: auto;
    padding-bottom:50px;
}


.portfolio-filter {
	margin: 30px 0px;
        text-align: center;
        list-style-type: none;
}
.portfolio-filter-list {
	padding: 0;
	margin: 0;
	overflow: hidden;
	margin: 30px 0px;
        text-align: center;
        list-style-type: none;
}
.portfolio-filter-list ul li {
	text-transform: uppercase;
	margin: 0px;
	display: inline;
}

.portfolio-filter-list li:after {
	content: "/";
	position: relative;
}
.portfolio-filter-list li:last-child:after {
	content: "";
}
.portfolio-filter-list a {
	color: #000000;
	font-size: 11px;
	padding: 5px 10px;
	position: relative;
	display: inline-block;
	letter-spacing: 0.1em;
	font-weight: 300;
	text-decoration: none !important;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

li a {
    text-decoration: none;
}

.white a {
	color: #ffffff;
}
.portfolio-filter-list a:hover {
	background-color: #ffffff;
	color: #000000;
	opacity: 1;
}
.portfolio-filter-list a.active {
	background-color: #FFFFFF;
	color: #000000;
}
.portfolio-filter {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.item {
    margin: 2px;
    overflow: hidden;
}

.item .frame {
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

.item .frame:hover {
    -webkit-transform: rotate(10deg) scale(1.5);
    -moz-transform: rotate(10deg) scale(1.5);
    -o-transform: rotate(10deg) scale(1.5);
    transform: rotate(10deg) scale(1.5);
}

.frame .overlay {
    position:absolute;

    width:100%;
    height:100%;
    background:#efefef;
    color:#000;
    top:0;
    left:0;
    opacity:0;
    text-align:center;
    padding:50px 10px;
    transition: 0.5s ease-out;
    transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    -webkit-transform: scale(0.1);
}

.frame:hover .overlay {
    opacity: .65;
    transform: rotate(-10deg) scale(0.5);
}

.item-info h3 {
    font-family: 'Oswald';
    font-size: 24px !important;
    text-transform: uppercase;
}

.item.w2 { }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
}

.basic-waypoint {
    opacity: 0;
}

/* Contact Form */
#contact_form_holder {
    /*font-family: 'Verdana';*/
    color: #fff;
    width:400px;
    padding:0px;
    margin:0px;
}

#cf_submit_p {
    text-align:right;
}

.error {
    display:none;
    padding:5px;
    color:#D8000C;
    font-size:12px;
    background-color:#FFBABA;
    border:solid 1px #e06d6d;
}

.success {
    display:none;
    padding:5px;
    color:#044406;
    font-size:12px;
    background-color:#B7FBB9;
    border:solid 1px #65d668;
}

#contact_logo {
    vertical-align:middle;
}

.error img {
    vertical-align:top;
}

.contact_name, .contact_email, .contact_subject, .contact_message {
    font-size:14px;
    width:388px;
    max-width:388px;
    background:rgba(239,239,239, 0.6);
    border:solid 1px #aaa;
    border-radius: 5px;
    padding:5px;
    margin:5px 0px;
}

#topic {
    width:100%;
    font-size:12px;
    background:none;
    border:solid 1px #505050;
    padding:5px;
    margin:5px 0px;
}

.contact_message {
    height:200px;
}

select, input, textarea {
    outline:none;
    background:none;
    border:solid 1px #505050;
}

select:focus, input:focus, textarea:focus {
    border:solid 1px #ff6600;
    -webkit-box-shadow:#ff6600 0px 0px 5px;
}
